# Python Programming Practice
## Chapter 03. 제어문
### 03-3. for문 (for loop)

#### for문 기본구조
```python
for 변수 in 리스트or튜플or문자열:
    수행문1
    수행문2
```

#### for문 예제

In [1]:
# 1. 전형적인 for문
my_list = ['one', 'two', 'three']
for i in my_list:
    print(i)

one
two
three

In [ ]:
# 2. 다양한 for문의 사용
tuple_list = [(1, 2), (3, 4), (5, 6)]
for (first, last) in tuple_list:
    print(first + last)

3
7
11

In [3]:
# 3. for문의 응용
score_list = [90, 25, 67, 45, 80]

num = 0
for score in score_list:
    num += 1
    if score >= 60:
        print("%d번 학생은 합격입니다." % num)
    else:
        print("%d번 학생은 불합격압니다." % num)

1번 학생은 합격입니다.
2번 학생은 불합격압니다.
3번 학생은 합격입니다.
4번 학생은 불합격압니다.
5번 학생은 합격입니다.

#### for문과 continue문

In [4]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number += 1
    if mark < 60: continue
    print("%d번 학생은 합격했습니다." % number)

1번 학생은 합격했습니다.
3번 학생은 합격했습니다.
5번 학생은 합격했습니다.

#### for문과 함께 자주 사용하는 `range` 함수

In [5]:
a = range(10)
a

range(0, 10)

In [6]:
a = range(1, 11)
a

range(1, 11)

In [7]:
# range 함수 예시
add_sum = 0
for i in range(1, 11):
    add_sum += i

print(add_sum)

55

In [8]:
marks = [90, 25, 67, 45, 80]

for index in range(len(marks)):
    if marks[index] < 60: continue
    else:
        print("%d번 학생은 합격했습니다." % (index + 1))

1번 학생은 합격했습니다.
3번 학생은 합격했습니다.
5번 학생은 합격했습니다.

In [9]:
# 1 ~ 100까지 합
total = 0
for i in range(1, 101):
    total += i
print(total)

5050

In [13]:
# for문과 range 함수를 이용한 구구단
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i:2} * {j:2} = {i * j:2}')

 2 *  1 =  2
 2 *  2 =  4
 2 *  3 =  6
 2 *  4 =  8
 2 *  5 = 10
 2 *  6 = 12
 2 *  7 = 14
 2 *  8 = 16
 2 *  9 = 18
 3 *  1 =  3
 3 *  2 =  6
 3 *  3 =  9
 3 *  4 = 12
 3 *  5 = 15
 3 *  6 = 18
 3 *  7 = 21
 3 *  8 = 24
 3 *  9 = 27
 4 *  1 =  4
 4 *  2 =  8
 4 *  3 = 12
 4 *  4 = 16
 4 *  5 = 20
 4 *  6 = 24
 4 *  7 = 28
 4 *  8 = 32
 4 *  9 = 36
 5 *  1 =  5
 5 *  2 = 10
 5 *  3 = 15
 5 *  4 = 20
 5 *  5 = 25
 5 *  6 = 30
 5 *  7 = 35
 5 *  8 = 40
 5 *  9 = 45
 6 *  1 =  6
 6 *  2 = 12
 6 *  3 = 18
 6 *  4 = 24
 6 *  5 = 30
 6 *  6 = 36
 6 *  7 = 42
 6 *  8 = 48
 6 *  9 = 54
 7 *  1 =  7
 7 *  2 = 14
 7 *  3 = 21
 7 *  4 = 28
 7 *  5 = 35
 7 *  6 = 42
 7 *  7 = 49
 7 *  8 = 56
 7 *  9 = 63
 8 *  1 =  8
 8 *  2 = 16
 8 *  3 = 24
 8 *  4 = 32
 8 *  5 = 40
 8 *  6 = 48
 8 *  7 = 56
 8 *  8 = 64
 8 *  9 = 72
 9 *  1 =  9
 9 *  2 = 18
 9 *  3 = 27
 9 *  4 = 36
 9 *  5 = 45
 9 *  6 = 54
 9 *  7 = 63
 9 *  8 = 72
 9 *  9 = 81

#### list comprehension 이용하기
- list 안에 for문 포함

In [15]:
a = [1, 2, 3, 4]
result = []

for num in a:
    result.append(num * 3)

result

[3, 6, 9, 12]

In [17]:
# list comprehension 사용
a = [1, 2, 3, 4, 5]

result = [num * 3 for num in a]
result

[3, 6, 9, 12, 15]

In [19]:
# list comprehension 안에서 if 사용
my_list = [1, 2, 3, 4, 5, 6]

result = [num * 2 for num in my_list if num % 2 == 0]
result

[4, 8, 12]

list comprehension 문법
- `[표현식 for 항목 in 반복_가능_객체 if 조건문]`

for문 중첩 가능
 ``` 
[표현식 for 항목1 in 반복_가능_객체1 if 조건1  
    for 항목2 in 반복_가능_객체2 if 조건2
    for 항목n in 반복_가능_객체n if 조건n] 
```

In [24]:
result = [x * y for x in range(2, 10)
                for y in range(1, 10)]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]